<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/nav.css">
        <link rel="stylesheet" href="../static/home.css">
    </head>
    <body>
        
        <!-------------------------------------Navigation Bar------------------------------------>
        <div class="topnav" id="myTopnav">
            <i><a href="#">Online-Lib</a></i>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i></a>
            <a href="#home" class="active">Home</a>
            <a href="/login">Login</a>
            <a href="contactus">Contact</a>
            <a href="about">About</a>
        </div>
        <div class="bg">
            <div class="greeting">
                <h3>Accelerating research discovery to shape a better future </h3>
                <h2>Today's research, tomorrow's innovation</h2>
                <button type="submit">Access content here</button>
            </div>
            <hr>
            <div class="section">
                <h1>1,600+ Journals</h1>
                <h1>250+ Reference Works</h1>
                <h1>22,000+ Online Books</h1>
            </div>
            <hr>
        </div>
        <div class="container">
            <h2 class="Resources">Resources</h2>
            <hr>
            <div class="box">
                <h3>Researchers</h3>
                <ul>
                    <li>Register online</li>
                    <li>Access options</li>
                    <li>Find training and resources</li>
                </ul>
            </div>
            <div class="box">
                <h3>Librarians</h3>
                <ul>
                    <li>Manage your account</li>
                    <li>View products and solutions</li>
                    <li>Find training and support</li>
                </ul>
            </div>
            <div class="box">
                <h3>Societies</h3>
                <ul>
                    <li>Publish with Wiley</li>
                    <li>Learn about trends</li>
                    <li>Subscribe to news and resources</li>
                </ul>
            </div>
            <div class="box">
                <h3>Authors</h3>
                <ul>
                    <li>Submit a paper</li>
                    <li>Track your article</li>
                    <li>Learn about Open Access</li>
                </ul>
            </div>
        </div>
        <script src="../static/index.js"></script>
    </body>
</html>