<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="Orderport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!---Manully CSS-->
    <link rel ="stylesheet" href="{% static 'main.css'%}">
    <title>main</title>
  </head>
  <body>
<header>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" id="logo" href="#">Online-Library</a>
          </li>  
          <li class="nav-item">
              <a class="nav-link" href="./index">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./login">Logout</a>
          </li>
          <li class="nav-item">
            <input type="text" placeholder="Serach Here"><input type="button" value="Search"> 
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">About Us</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Git-Hub</a></li>
                <li><a class="dropdown-item" href="#">Linkdin</a></li>
                <li><a class="dropdown-item" href="#">Instagram</a></li>
              </ul>
            </li>
      </ul>
</header>
<div class="album py-2 px-2 bg-none">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for Book in Books.all %}
      <div class="col">
        <div class="card shadow-sm">
          <img src="{{ Book.book_cover.url }}">
          <div class="card-body">
            <p class="card-text">{{Book.book_name}}<br>{{Book.authour}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>       
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>