body
{
    background-color: aliceblue;
    color:white;
}
nav
{
    background-color:black;
    color: white;
    border-radius: 7px;
    border-style:none;
   
}
nav ol li
{
    list-style: none;
    display:block;
}
nav ol li a{
    text-decoration: none;
}
.Btn
{
    background-color:rgb(9, 103, 211);
    border-radius:7px;
    border-style:none;
    height:23px;
    margin-left:5px;
    padding:4px;
    border-width: 1px;
}