.res{
    margin-left: 5%;
    font-family: fangsong;
    font-size: 35px;
    margin-bottom: 5px;
}

.break-hr
{
    margin-left: 5%;
    width: 90%;
    height: 4px;
    background-color: #5c4033;
}


.upper-container{
    background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('baground.jpg');
    color: white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
}

.upper-container h1{
  margin-left: 25%;
  margin-top: 0px;
  padding-top: 20px;
  font-weight: normal;
  font-family: fangsong;
  font-size: 35px;
}


.upper-container hr{
  padding-bottom:  60px;
  border-color: transparent;
}

.search
{
  border: 2px solid white;
  overflow: auto;
  width: 50%;
  margin-left: 25%;
}

.search input[type="text"]
{
  border: 0px;
  width: 67%;
  padding: 10px 10px;
  color: white;
  background-color: transparent;
  font-size: 20px;
}

.search input[type="text"]:focus
{
  outline: 0;
}

.search button
{
  border: 0px;
  background: none;
  background-color: brown;
  font-size: 23px;
  color: #fff;
  float: right;
  padding: 10px;
  cursor:pointer;
}


@media only screen and (min-width : 150px) and (max-width : 780px)
{
  {}
  .search
  {
    width: 95%;
    margin: 0 auto;
  }

}